@mixin  media-min {
    @media  screen and  (min-width:$tablet-up){
        body: 100%;
    }
}

//BTN
@mixin btn-form{
    width: 220px;
    height: 50px;
    border-radius: 25px;
    background: linear-gradient(-10deg, darken($primary, 10%), darken($secondary, 10%));
    
    color: white;
    font-family: $font-text;   
    font-weight: 400;
    font-size: 100%;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}

//box shadow
@mixin shadowbox{
    box-shadow: 10px 5px 5px rgb(221, 221, 221);
}

// Card menu 

@mixin card-menu {
    display:flex;
    margin-bottom: 15px;
    width: 90%;
    height: 70px;
    background-color: darken($color: white, $amount: 4%);
    border-radius: 15px;
    position: relative;
    left: 15px;
    font-family: $font-text;
    overflow: hidden;
}

// media queries

@mixin media-tall {
    @media screen and ( min-width: $desktop) {
        // HEADER
           .logo-head img{ 
              width: 20%;
           }

           .logo-head a{
               right: 35%;
               font-size: xx-large;
           }

        //section

           section h2{
               text-align: center;
           }
           section{
            justify-content: center;
            flex-direction:   column;         
            align-items: center;
            
           }
           
           .box-select{
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               width: 100%;
           }

           

           .select , .compose , .taste{
               width: 25%;
                p{
                   text-align: center;
                   padding-left: 15%;
                }
               .fa-mobile-screen-button{
                //   right:16%;
               }
           }

           main h2{
               text-align: center;
           }
           .main-boss{
               display: flex;
               align-items: center;
               justify-content: center;
           }
           .main-boss h2{
               padding: 30px 0px 30px 0px;
           }

           .card-mericourt{
            padding-bottom: 0px;
            width: 17.5%;
            width: 342px;
            }

            .card-charonne{
            background-color: darken($color: white, $amount: 10%);
            padding-bottom: 0px;
            width: 342px;
            position: relative;
            bottom: 19px;
            // height pour les hover new
            // height: 150px;
                .hover-card{
                    
                }
             
            }

            .card-menilmontant{
                position: relative;
                bottom: 19px;
            }

           .card{
               width: 100%;
                display: flex;
                justify-content: center;
            }
            .hover-new{
                display: flex;
                justify-content: center;
                position: relative;
                top: 50px;
                left: 25%;
            }
            // FOOTER

            footer{
                .foot-logo p {
                    font-size: xx-large;
                    text-align: center;
                }
                ul{
                    font-size: large;
                    display: flex;
                    justify-content: space-around;
                }
            }
            // ARTICLE

            article img{
                position: relative;
                left: 25%;
                object-fit: cover;
                width: 50%;
                height: 450px;
            }

            .img-menu-2{
                width: 50%;
                height: 450px;
                object-fit: cover;
            }

            .contain-title{
                justify-content: center;
                i{
                    margin-left: 50px;
                    font-size: x-large;
                }
            }

            // title menu

            .title-menu{
                width: 100%;
                &__border{  
                    margin-left: 30.5%;
                }
                 h1{
                display: flex;
                justify-content: start;
                padding-left: 30.5%;
                }
            }   
            // card-menu

            .contain-card{
                width: 40%;
                left:  30%;
            }

        }
}

@mixin media-med {
    @media screen and ( min-width: $tablet-up  ) and (max-width: #{$desktop - 1px}) {
        
        // header
        .logo-head{
            display: flex;
            justify-content: center;
            text-align: center;
            padding-top: 25px;
            padding-bottom: 10px;
            padding-right: 5%;
            background-color: white;
                a {
                    position: relative;
                    right: 30%;
                    font-size: x-large;
                    color: black;
                }
                img {
                    width: 35%;
                }
        }
        
        // section
        section{
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        section h2{
            text-align: center;
        }
        .box-select{
            width: 100%;
            // padding-left: 50px;
        }

        .select , .compose , .taste{
            width: 50%;
             p{
                text-align: center;
                padding-left: 15%;
             }
            .fa-mobile-screen-button{
             //   right:16%;
            }
        }
        // main-index

        main h2{
            text-align: center;
        }

        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            left: 15%;
            width: 70%;
            z-index: 0;
        }

        .hover-new{
            right:  20%;
            position: absolute;
            z-index: 1;
        }

        // article

        .img-menu-2{
            height: 300px;
            object-fit: cover;
        }

        article img{
            object-fit: cover;
            height: 300px;
        }

        .contain-title{
            justify-content: center;
            i{
                margin-left: 30px;
            }
        }

        
        .contain-card{
            width: 45%;
            left:  28%;
        }

        .title-menu{
            width: 100%;
            &__border{  
                margin-left: 28.1%;
            }
             h1{
            display: flex;
            justify-content: start;
            padding-left: 28%;
            }
        }   
       
        // FOOTER

        footer{
            .foot-logo p {
                font-size: xx-large;
            }
            ul{
                font-size: large;
            }
        }
    }
}