
.logo-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: white;
        a {
            position: relative;
            right: 25%;
            font-size: x-large;
            color: black;
        }
        img {
            width: 35%;
        }
}



