
.logo-head{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 10px;
        a {
            position: relative;
            right: 25%;
            font-size: x-large;
            color: black;
        }
}

.logo-head img {
    width: 35%;
}

