.btn-exp{
    width: 200px;
    height: 45px;
    border-radius: 20px;
    background-color: $secondary;
    color: white;
    font-family: $font-text;   
    font-weight: 500;
    font-size: 95%;
    border: none;
}