h2{
    
    padding: 20px 0px 20px 20px;
    font-family: $font-text;
    font-weight: bolder;
    font-size: x-large;
}

.card-mericourt{
    padding-bottom: 50px;
}

.card{
    padding-bottom: 30px;
    width: 100%;
    height:300px;

    // padding: 0px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
        img{
            object-fit: cover;
            width: 90%;
            // height: 50%;
            // padding: 0px 20px 0px 20px;
            justify-items: center;
            justify-content: center;
            display: flex;
            border-radius: 20px 20px 0px 0px;
            

        }
}

.hover-card{
    align-items: flex-start;
    background-color: aqua;
    width: 90%;
    height:70px;
    border-radius: 0px 0px 20px 20px; 
    p{
        font-family: $font-text;
        margin-left: 10px;
    }      
}

.hover-icone{
    display: flex;
    justify-content: space-between;
  
    strong{
        font-family: $font-text;
        font-weight: bolder;
        margin-top: 15px;
        margin-left: 10px;
    }
    i{
        font-size: x-large;
        position: relative;
        right: 30px;
        top: 5px;
        margin-top: 15px;
        cursor: pointer;
    }
}

img{
    width: 90%;
    height: 80%;
}

.main-boss{
    background-color: darken($color: white, $amount: 10%);
}
.card-mericourt{
    background-color: darken($color: white, $amount: 10%);
}
.card-charonne{
    background-color: darken($color: white, $amount: 10%);
    padding-bottom: 10px;
    
}
.card-rouge{
    background-color: darken($color: white, $amount: 10%);
}

.hover-new{
    display: flex;
    justify-content: end;
    position: absolute;
    padding-top: 10px;
    right: 50px;
}
.hover-new h3{
    background-color: lighten($color: lightblue, $amount: 0%);
    height: 30px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    font-family: $font-text;
    font-size: medium;
    font-weight: 500;
    color: rgb(63, 129, 63);
}