.contain-title{
    display: flex;
    justify-content: space-between;
        h2{
            font-family: $font-title;
            font-size: xx-large;
            border-radius: 35px;
        }
        i{
            padding: 20px 0px 0px 0px;
            margin-right: 40px;
            font-size: x-large;
            cursor: pointer;
        }
}

.title-menu{
    width: 25px;
    margin-bottom: 10px;
    margin-top: 35px;
   
        &__border{
            border-bottom: 2px solid $tertiary;
            width: 40px;
            margin-left: 17px;
            position: relative;
            bottom: 15px;
        }
        h1{
            width: 25px;
        }
    
}


.contain-card{
    @include card-menu;
    @include shadowbox;
    &:hover{
        cursor: pointer;
        > .contain-card__hid-card{
            width: 90px;
            transform: translateX(0);
            
            i{
                    transform: translateX(0) rotate(0deg);
                }
        }
    }
        &__description{
            flex: 1;
            min-width: 20px;
            > &__contain-txt{
                display: flex;
            }
        }
         
            &__description__name{
                width: 100%;
                padding-left: 10px;
                position: relative;
                top: 10px;
                font-weight: 600;
                font-size: large;
                text-overflow: ellipsis;  
                overflow: hidden;
                white-space: nowrap;
            
        } 
        &__description__contain-txt{
            display:flex;
            padding: 20px 0px 0px 10px;
            text-overflow: ellipsis;  
            overflow: hidden;
            white-space: nowrap;
                h5{
                    width: 90%;
                    text-overflow: ellipsis;  
                    overflow: hidden;
                    white-space: nowrap
                }
           
        }
                &__contain-txt__price{
                    margin: 0;
                    width: 30px;
                    text-align:right;
                    font-weight: bold;
                
                }
            &__hid-card {
                display: flex;
                width: 0;
                align-items: center;
                transform-origin: right;
                transform: translateX(90px);
                transition: transform 1500ms ease-in-out;
                background: $tertiary;
                padding-bottom: 40px;
                transition: width 900ms ease-in-out;
            }            
                    i{
                        display: inline-block;
                        transform: translate(110px) rotate(-360deg);
                        transition: transform 900ms ease-in-out;
                        background-color: $tertiary;
                        color: white;
                        font-size: xx-large;
                        position: relative;
                        left: 25px;
                        top: 20px;
                        
                    } 
            }
              
 
 


h1{
    padding-left: 15px;
    padding-bottom: 25px;
    font-family: $font-text;
}

.btn-box{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.contain-menu{
    background-color: darken($color: white, $amount: 10%);
    border-radius: 35px;
  
}

article{
    background-color: darken($color: white, $amount: 10%);
}

article img{
    width: 100%;
    height: 100%;
}

.contain-box{
    position: relative;
    bottom: 35px;
}

.img-menu-2{
    width: 100%;
    height: 320px;
    object-fit: cover;
}


